<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/SEO", {
        description: `Esta es la página inicial por ahora`,
        page: "Home"
    }) %>
</head>
<body>
    <canvas id="canva" height="400" width="600"></canvas>
    <script src="<%=path%>js/test.js"></script>
</body>
</html>